#mainHead {
    font-size: large;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 15px;
}

#navLink {
    color: #fff;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
    gap: 1rem;
    
}
#navLink:hover {
    /* color: rgb(0, 0, 0) !important; */
    border-bottom: 3px white solid !important;
}
#navLink:focus{
    border-bottom: 3px white solid !important;
}
